@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
  --dark-blue: #0B0826;
  --light-blue: #11306A;
  --dark-red: #32091E;
  --mid-red: #830E47;
  --light-red: #DA3264;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Rajdhani',
    ui-monospace,
    Menlo,
    Monaco,
    'Cascadia Mono',
    'Segoe UI Mono',
    'Roboto Mono',
    'Oxygen Mono',
    'Ubuntu Monospace',
    'Source Code Pro',
    'Fira Mono',
    'Droid Sans Mono',
    'Courier New',
    monospace;



}

.dm {
  font-family: 'DM Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.menu {
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.menu ul {
  font-family: 'DM Sans', sans-serif;
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-weight: 400;
  font-size: 16px;
}

.light-theme>.menu {
  color: #1f1f1f !important;
}

.light-theme {
  background: linear-gradient(to top, #d8ced1, #ffeff4);
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.dark-theme {
  background: #0f0f0f !important;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.hero-area {
  position: absolute;
  top: 0;
  width: 100%;
  /* Adjust as needed */
  height: 100%;
  /* Adjust as needed */
  background-color: var(--mid-red);
  clip-path: polygon(0 0, 30% 0, 40% 100%, 0% 100%);
  backdrop-filter: blur(20px);
}

.clock-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  border-radius: 60px;
  /* color: white; */
  /* background: linear-gradient(to top, #DA3264, #fa5f8e); */
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.315); */
}

.marker {
  border: 1px solid red;
}

.semi-bold {
  font-weight: 500;
}

.dark-blue {
  color: var(--dark-blue)
}

.light-blue {
  color: var(--light-blue)
}

.dark-red {
  color: var(--dark-red)
}

.mid-red {
  color: var(--mid-red)
}

.light-red {
  color: var(--light-red)
}

.light-grey {
  color: #afafaf
}